<div style="background-color: #f4f4f4;padding-top:30px;">
  <div id="movie_list" class="textContent inlineBlock vertAlignTop" style="padding-left:45px;padding-right:45px;width:950px;">
    <% if not @movies.nil? and @movies.any? %>
        <% @movies.each do |movie| %>
            <%= render 'movies/movie', movie: movie %>
        <% end %>
    <% end %>

    <div id="load_more_container">
      <%= link_to root_path(page: @page+1), remote: true do %>
          <div id="load_more" class="opens vertCenterMiddle" style="color:white;background-color:#E85256;border-radius:5px;font-size:2em;width:200px;height:50px;margin: 30px auto;font-weight:700;">Load More</div>
      <% end %>
    </div>
  </div>
  <div class="inlineBlock vertAlignTop" style="width:500px;">
    <div class="textContent" style="background-color:white;-webkit-box-shadow: 0px 5px 10px 0px #ddd;
        -moz-box-shadow: 0px 5px 10px 0px #ddd;
        box-shadow: 0px 5px 10px 0px #ddd;
        border:1px solid lightgrey;padding:30px;padding-bottom:0;">
      <div class="lora" style="font-size:2em;border-bottom: 1px solid lightgrey;padding-bottom:20px;margin-bottom:20px;font-weight:700;">
        Recent Reviews
        <div class="inlineBlock rightText" style="font-size:0.75em;margin-left:60px;"><%= link_to 'See All Reviews', reviews_path %></div>
      </div>
      <% (0..5).each do |i| %>
          <% if (not @upcoming[i].nil?) and (not @reviews[i].nil?) %>
              <%= render 'reviews/side_review', movie: @upcoming[i], review: @reviews[i] %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
