<div class="lato" style="font-size:1.5em;margin-bottom:15px;">Movie Name</div>
<div class="lato" style="font-size:1.5em;margin-bottom:15px;">Rating</div>
<div class="lato" style="font-size:1.5em;margin-bottom:15px;">Release Date</div>
