<% content_for :title do %>About<% end %>

<div style="padding:30px 55px;font-size:1.5em;">
  <h3>Website created by Varun Shivakumar</h3>
  <p>
    Linkedin: <a href="https://www.linkedin.com/in/varunshivakumar">https://www.linkedin.com/in/varunshivakumar</a>
  </p>
  <p>
    This web application was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
</div>
