<% content_for :title do %>About<% end %>

<div style="padding:30px 55px;font-size:1.5em;height:calc(100vh);background-color:white;">
  <h3>Website created by Varun Shivakumar</h3>
  <p>
    Linkedin: <a href="https://www.linkedin.com/in/varunshivakumar">https://www.linkedin.com/in/varunshivakumar</a>
  </p>
  <p>
    This web application was created with
    <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
    from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
  <br/>
  <p>
    <b>Styling</b><br/> Completely custom with hints of boostrap.
    TODO: refractor inline css into scss
  </p>
  <p>
    <b>Page Layout</b><br/>
    Home page: Click on home -> see all movies and sort by popularity or genre<br/>
    Movie page: Click on movie title -> see movie specific information as well as that movies reviews<br/>
    Review page: Click on Reviews in header -> see all reviews created in this database<br/>
  </p>
  <p>
    <b>Models</b><br/> Only Review and User. I excluded the Movie model because all the information is stored in "The Movie Database API".
    We could use the seed file to query for every movie and store the details in our own database.
  </p>
  <p>
    <b>Gems</b><br/>
    Tmdb (for movie details)<br/>
    Devise (for secure user login/signup)<br/>
    Rspec (for testing) <br/>
  </p>
  <p>
    <b>Testing (Rspec)</b><br/>
    $ spec/models/review_spec.rb
  </p>
  <p>
    <b>Github</b><br/>
    https://github.com/varunshivakumar/ripetomatoes
  </p>
  <p>
    <b>Database and Hosting</b><br/>
    Database: Postgresql<br/>
    Heroku: https://limitless-dawn-75562.herokuapp.com/
  </p>
  <br/>
  <!--
  <p>
    What does sort by title mean? Alphabetically?<br/>
    Should I load reviews from Tmdb or are they all custom?<br/>
    Do you have to be logged in to rate a movie? Otherwise how would you get their email?
    Wouldn't it make more sense for the review to list their username and not email?
  </p>
  -->
</div>
