/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  margin:0;
  padding:0;
}

body{
  width:100vw;
  min-height:100vh;
  margin: 0;
  padding: 0;

}

#main_content{
  width:1350px;
  background-color:#fdfdfd;
  margin: 0 auto;
  z-index: 1;
  height:calc(100vh - 165px);
  position: relative;

  -webkit-box-shadow: 0px 0px 25px 0px rgba(170,170,170,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(170,170,170,1);
  box-shadow: 0px 0px 25px 0px rgba(170,170,170,1);

}

#header{
  height:120px;
  padding-right: 35px;
  position: relative;
}

#logo{
  left:0;top:0;bottom:0;
  width:400px;
  font-size:3em;
  font-weight:700;
  color:#444444;
  padding-left:45px;
}

#sorting{
  padding-left: 35px;
  padding-bottom: 20px;
  font-size: 1.1em;
}

// Text Properties

// Font Families

.lora{ font-family: 'Lora', serif; }
.lato{ font-family: 'Lato', serif; }
.opens{ font-family:'Open Sans', sans-serif; }
.merri{ font-family:'Merriweather', serif; }

// -- Font Size
.fontSize48{  font-size: 3em;     }
.fontSize44{  font-size: 2.75em;     }
.fontSize40{  font-size: 2.5em;  }
.fontSize36{  font-size: 2.25em;  }
.fontSize32{  font-size: 2em;  }
.fontSize31{  font-size: 1.9375em;  }
.fontSize30{  font-size: 1.875em;  }
.fontSize29{  font-size: 1.8125em;  }
.fontSize28{  font-size: 1.75em;  }
.fontSize27{  font-size: 1.6875em;  }
.fontSize26{  font-size: 1.625em;  }
.fontSize25{  font-size: 1.5625em;  }
.fontSize24{  font-size: 1.5em;  }
.fontSize23{  font-size: 1.4375em;  }
.fontSize22{  font-size: 1.375em;  }
.fontSize21{  font-size: 1.3125em;  }
.fontSize20{  font-size: 1.25em;  }
.fontSize19{  font-size: 1.1875em;  }
.fontSize18{  font-size: 1.125em;  }
.fontSize17{  font-size: 1.0625em;  }
.fontSize16{  font-size: 1em;  }
.fontSize15{  font-size: 0.9375em;  }
.fontSize14{  font-size: 0.875em;  }
.fontSize13{  font-size: 0.8125em;  }
.fontSize12{  font-size: 0.75em;  }
.fontSize11{  font-size: 0.6875em;  }
.fontSize10{  font-size: 0.625em;  }

// Manipulate Font Weight
.fontWeight100  {  font-weight: 100;  }
.fontWeight200  {  font-weight: 200;  }
.fontWeight300  {  font-weight: 300;  }
.fontWeight400  {  font-weight: 400;  }
.fontWeight500  {  font-weight: 500;  }
.fontWeight600, .hoverFontWeight600:hover  {  font-weight: 600;  }
.fontWeight700  {  font-weight: 700;  }
.fontWeight800  {  font-weight: 800;  }
.fontWeight900  {  font-weight: 900;  }
.italic{  font-style:italic;  }

// Uppercase
.uppercase    {  text-transform: uppercase;  }
.lowercase    {  text-transform: lowercase;  }

// Display
.inlineBlock  {  display: inline-block;  }
.inline       {  display: inline;  }
.block        {  display: block;  }

// Float
.floatRight   {  float: right;  }
.floatLeft    {  float: left;  }

//Position
.posRel       {  position: relative;  }
.posAbs       {  position: absolute;  }
.posFix       {  position: fixed;  }

// Alignment
.centerText {  text-align: center;  }
.leftText   {  text-align: left;  }
.rightText  {  text-align: right;  }

.vertAlignTop {  vertical-align: top;  }
.vertAlignMid {  vertical-align: middle;  }
.vertAlignBot {  vertical-align: bottom;  }

.centerBlock    {  margin-left: auto; margin-right: auto;  }
@mixin displayFlex{  display: -ms-flexbox; /* IE 10 */ display: -webkit-flex; /* Safari 6 */ display: flex; /* Modern browsers */}
.vertCenterLeft   {  @include displayFlex; align-items:center;  }
.vertCenterMiddle {  @include displayFlex; align-items:center; justify-content: center;}
.vertCenterRight  {  @include displayFlex; align-items:center; justify-content: flex-end;}


// Misc.
.nowrap             {  white-space: nowrap ;        }
.extraLineHeight    {  line-height: 1.7em ;         }
.tooltip            {  max-width: 400px !important; }
.pointer            {  cursor: pointer;             }
.cursorAuto         {  cursor: auto;                }
.cursorNone:hover   {  cursor: default;             }
.displayNone        {  display: none;               }
.borderNone         {  border: none;                }
.outlineNone        {  outline: none;               }  .outlineNone:focus, .outlineNone:active, .outlineNone:visited  {  outline: none;  }
.visibilityHidden   {  visibility: hidden;          }
.overflowHidden     {  overflow: hidden;            }
.overflowAuto       {  overflow: auto;              }
.textContent{ // This is so that text content does not overflow a post
  overflow: hidden;
  word-wrap: break-word;
}

// Links
.link{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 15px;
}

.sortingLink{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  padding: 0 15px;
}

// Buttons
.btn-primary {
  margin: 10px;
  display:inline-block !important;
  vertical-align:top;

}
.popover {
  max-width:1200px !important;
  width:800px !important;
}